/lab2/target/classes/ex1/Main.class
/lab2/target/classes/ex2/Main.class
/lab2/target/classes/ex3/Main.class
/lab2/target/classes/ex4/Main.class
/lab2/target/classes/org/example/Main.class
/lab3/target/classes/ex1/Main.class
/lab2/target/classes/ex4/Persoana.class
/lab2/target/classes/ex2/Vers.class
/lab3/target/classes/ex1/Parabola.class
